<div class="contariner">
    <nav class="my-navbar navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/profile/nemanja">My Portfolio-NMD</a>
                </div>
            <ul class="nav navbar-nav">
                <li><a href="/profile/nemanja">Profile</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Me</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            </div>
    </nav>
</div>
